@font-face {
font-family: 'Cairo';  
src: url('../Assets/Fonts/Cairo-Regular-3.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Cairo-SemiBold';  
src: url('../Assets/Fonts/Cairo-SemiBold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Cairo-Bold';  
src: url('../Assets/Fonts/Cairo-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
.banner{
border-right: 1px solid #EAEAEB;
background: #F8FAFD;
height: 100vh;
}
.logo{
flex-shrink: 0;
overflow: hidden;
}
.li-active-container{
flex-direction: row;
flex-shrink: 0;
border-radius: 10px;
background-color: #F3F3F3;
  
}
.li-active-container a{
color: #000;
font-family: Cairo;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.li-container{
 border-right-width: 4px;
 --tw-border-opacity: 1;
border-color: rgb(0 0 0 / var(--tw-border-opacity));
border-top-right-radius: 0.25rem/* 4px */;
border-top-left-radius: 0.25rem/* 4px */;
border-bottom-right-radius: 0.25rem/* 4px */;
border-bottom-left-radius: 0.25rem/* 4px */;
}
 
.li-title{
color: #000;
font-family: Cairo;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
position: relative;
}
 