.AddInnovation{
    .header{
        display: flex;
        background: #FFF;   
    }
    .circle{
        background-color: #EAEAEB;    
        justify-content: center;
        align-items: center;   
        display: flex;
    }
    .step-no{
        display: flex;
        width: 20px;
        height: 20px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: rgba(0, 0, 0, 0.30);
        text-align: center;
        font-family: Cairo;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .Draft{
        display: flex;
        width: 116px;
        height: 42px;
        padding: 8px 0px 9px 0px;
        justify-content: center;
        align-items: center;
        border-radius: 55px;
        background: #EAEAEB;
        flex-shrink: 0;
        color: rgba(0, 0, 0, 0.20);
        text-align: center;
        font-family: Cairo;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;
    }
    .Publish{
        display: flex;
        width: 116px;
        height: 42px;
        padding: 8px 0px 9px 0px;
        justify-content: center;
        align-items: center;
        border-radius: 55px;
        background: #EAEAEB;
        flex-shrink: 0;
        color: rgba(0, 0, 0, 0.20);
        text-align: center;
        font-family: Cairo;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;
    }
    .content{
         background-color: #eaeaeb1f;
    }
    .search-input{
        display: flex;        
        padding-left: 55px;
    }
    .title{
        color: rgba(0, 0, 0, 0.20);
        font-family: Cairo;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .details-input{
        border: 1px solid;
        border-color: #eaeaeb;
        border-radius: 15px;
        height: 534px;
        width: 100%; 
    }
        
    .details-input:focus{
        outline: none;
    }
    .analysis-input{
        border: 1px solid;
        border-color: #eaeaeb;
        border-radius: 15px;
        height: auto;
        width: 100%; 
        padding-bottom: 20px;
        padding-top: 40px;
    }
    .analysis-input:focus{
        outline: none;
    }
    .submit-title{
        width: 199px;
        height: 53px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #3186EA;
        color: #FFF;
        text-align: center;
        font-family: Cairo;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .circle-approved{
        background-color: #60b527;
    }
    .step-no-approved{
        color: #D9D9D9;
        text-align: right;
        font-family: Cairo;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .innovation-title{
        color: #000;
        font-family: Cairo;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .actions{
        width: 199px;
        height: 53px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #3186EA;
        align-items: center;
        align-content: center;
    }
    .back{
        color: #FFF;
        text-align: center;
        font-family: Cairo;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;
    }
    .header-item-active{
        display: flex;
        width: 122px;
        height: 42px;
        padding: 8px 0px 9px 0px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 55px;
        background: #000;
        color: #FFF;
        text-align: center;
        font-family: Cairo;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-right: 5px;
        cursor: pointer;
    }
    .header-item{
        display: flex;
        width: 122px;
        height: 42px;
        padding: 8px 0px 9px 0px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 55px;
        background: #EAEAEB;
        color: rgba(0, 0, 0, 0.20);
        text-align: center;
        font-family: Cairo;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-right: 5px;
        cursor: pointer;
    }
    .arrow-input{
       background-color: #5D96EC;
       color: #FFF;
       font-family: Cairo;
       font-size: 16px;
       font-style: normal;
       font-weight: 600;
       line-height: normal;
    }
    .arrow-input::placeholder{
        color: #FFF;
        font-family: Cairo;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .arrow-input:focus{
        outline: none;
     }
     .arrow-input::selection{
        color: #FFF;
     }
     .arrow-input::-moz-selection{
        color: #FFF;
     }
}