@font-face {
font-family: 'Cairo';  
src: url('../Assets/Fonts/Cairo-Regular-3.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Cairo-SemiBold';  
src: url('../Assets/Fonts/Cairo-SemiBold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
.headTitle{
color: #000;
font-family: Cairo;
font-size: 1rem;
font-style: normal;
font-weight: 700;
}
.headTitle span{
color: #000;
font-family: Cairo;
font-size: 1rem;
font-style: normal;
font-weight: 300;
}