.courses-container{


.courses-grid{
    border: 1px solid #eee;
    padding: 70px;
}
.courses-header{
    border: 1px solid #EAEAEB;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 15px;
}
.CoursesCards{
    height: 143px;
    border-radius: 10px;
    border: 3px solid #CCC;
    background: #FFF;
    display: flex;

}
.box .rectangle-retake {
    background-color: #60b527;
    height: 140px;
    left: 0;
    position: relative;
    top: 0;
    width: 22px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.box .rectangle-resume{
    background: #E1CD17;
    height: 140px;
    left: 0;
    position: relative;
    top: 0;
    width: 22px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.box .rectangle-start{
    background: #178CE1;
    height: 140px;
    left: 0;
    position: relative;
    top: 0;
    width: 22px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.course-name{
    color: #000;
    font-family: Cairo;
    font-size: 1.878rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;    
    flex-direction: column;    
    flex-shrink: 0;
}
.course-details{
    display: flex;
    justify-content: left;
}
.create-date{
    color: rgba(0, 0, 0, 0.60);
    font-family: Cairo;
    font-size: 0.688rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;    
    height: 22px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.frame {
    background-image: url('./Assets/images/Rectangle\ 530.png');
    background-position: 50% 50%;
    background-size: cover; 
    width: 100%;    
}
.deparment{
    display: flex;
    width: 42px;
    height: 21px;
    padding: 6px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8.824px;
    background: #3186EA;
    color: #FFF;
    text-align: center;
    font-family: Cairo;
    font-size: 0.809rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 10px;
    //   margin-top: 10px; 
}
.course-information{
    display: flex;
    justify-content: space-between;
    margin-top: -7px;
    height: 44px;
}
.course-status{
    display: flex;
}
.badge{
    width: 24px;
    height: 31px;
    flex-shrink: 0;
    background: url('./Assets/images/quality\ 1.png'), white 50% / cover no-repeat;    
}
.percentage{
    color: #000;
    text-align: right;
    font-family: Cairo;
    font-size: 1.246rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}
.retake{
    width: 165px;
    height: 105%;
    flex-shrink: 0;
    background: #60B527;
    color: #FFF;
    text-align: center;
    font-family: Cairo;
    font-size: 1.246rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom-right-radius: 13px;
}
.resume{
    width: 165px;
    height: 105%;
    flex-shrink: 0;
    background: #E1CD17;
    color: #FFF;
    text-align: center;
    font-family: Cairo;
    font-size: 1.246rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom-right-radius: 13px;
}
.Start{
    width: 165px;
    height: 105%;
    flex-shrink: 0;
    background: #178CE1;
    color: #FFF;
    text-align: center;
    font-family: Cairo;
    font-size: 1.246rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom-right-radius: 13px;
   
}
 /* Square Cards Classes */ 
 .course-inf-square{
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
 }
.course-information-square{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.course-square-completed-inf:hover{     
    background-color: #a6d985;
}
.course-square-inprogress-inf:hover{
    background-color: #f4eca2;    
}
.course-square-resume-inf:hover{    
    background-color: #acd3ef;   
}
/* Rectangle Card Classes */
.card-rectangle{     
    display: flex;
    flex-direction: column;
    height: 145px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 3px solid #CCC;
    background: #FFF;
} 
.course-rectangle-cover{
    height: 100px;
}
.start-rectangle{
    width: 165px;
    height: 92%;
    flex-shrink: 0;
    background: #178CE1;
    color: #FFF;
    text-align: center;
    font-family: Cairo;
    font-size: 1.246rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom-right-radius: 7px;
}
.resume-rectangle{
    width: 165px;
    height: 92%;
    flex-shrink: 0;
    background: #E1CD17;
    color: #FFF;
    text-align: center;
    font-family: Cairo;
    font-size: 1.246rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom-right-radius: 7px; 
}
.retake-rectangle{
    width: 165px;
    height: 92%;
    flex-shrink: 0;
    background: #60B527;
    color: #FFF;
    text-align: center;
    font-family: Cairo;
    font-size: 1.246rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom-right-radius: 7px;  
}
.course-rating{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
.animate__fadeIn {
  animation: fadeIn 1.5s ease-out;
}
.testCalc{
    height: calc(100% - 95px);
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .course-name-sm{
        color: #000;
        font-family: Cairo;
        font-size: 1.0rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;    
        flex-direction: column;    
        flex-shrink: 0;
       
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .course-name-sm {
        color: #000;
        font-family: Cairo;
        font-size: 1.0rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;    
        flex-direction: column;    
        flex-shrink: 0;        
        
    }
    .data-container-nostarted-sm{
        height: 99px;
    } 
    .data-container-inprogress-sm{
        height: 99px;
    }
    .data-container-completed-sm{
        height: 99px;
    }
    .data-container-nostarted-sm{
        height: 99px;
    }
    .data-container-completed-sm:hover{      
        background-color: #a6d985;
   }
   .data-container-inprogress-sm:hover{
       background-color: #f4eca2;
   }
   .data-container-nostarted-sm:hover{
       background-color: #acd3ef;
   }
    .course-informations-sm{
        padding-top: 1rem;
    }
    .card-square-sm{           
        height: auto;
        flex-shrink: 0;
        border-radius: 15px;
        border: 3px solid #CCC;         
        background: #FFF;
    }
    .resume{
        width: 150px;
        height: 105%;
        flex-shrink: 0;
        background: #E1CD17;
        color: #FFF;
        text-align: center;
        font-family: Cairo;
        font-size: 1.246rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-bottom-right-radius: 13px;
    }
    .retake{
        width: 150px;
        height: 105%;
        flex-shrink: 0;
        background: #60B527;
        color: #FFF;
        text-align: center;
        font-family: Cairo;
        font-size: 1.246rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-bottom-right-radius: 13px;
    }
}
@media screen and (min-width: 1920px) {
 .course-name-lg {

    color: #000;
    font-family: Cairo;
    font-size: 1.878rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;    
    flex-direction: column;    
    flex-shrink: 0;
    
 }
 .data-container-nostarted-lg{
     height: 98px;
 }
 .data-container-inprogress-lg{
     height: 98px;
 }
 .data-container-completed-lg{
     height: 98px;
 }
 .data-container-nostarted-lg{
     height: 98px;
 }
 .data-container-completed-lg:hover{      
     background-color: #a6d985;
}
.data-container-inprogress-lg:hover{
    background-color: #f4eca2;
}
.data-container-nostarted-lg:hover{
    background-color: #acd3ef;    
}
 .course-informations-lg{
     padding-top: 0rem;
 }
 .card-square-lg{           
     height: 308px;
     flex-shrink: 0;
     border-radius: 15px;
     border: 3px solid #CCC;
     background: #FFF;
 }
}
/* For Desktop View */
@media screen and (max-width: 1024px) {
    .card-square-sm{
        height: auto;
        border-radius: 15px;
        border: 3px solid #ccc;
        background: #FFF;
    }
    .course-name{
        color: #000;
        font-family: Cairo;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
    }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) 
	and (max-device-width: 1024px) {
        .card-square-sm{
            height: auto;
            border-radius: 15px;
            border: 3px solid #ccc;
            background: #FFF;
        }
        .course-name{
            color: #000;
            font-family: Cairo;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
        }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) 
	and (orientation: portrait) {
        .card-square-sm{
            height: auto;
            border-radius: 15px;
            border: 3px solid #ccc;
            background: #FFF;
        }
        .course-name{
            color: #000;
            font-family: Cairo;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
        }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) 
	and (orientation: landscape) {
        .card-square-sm{
            height: auto;
            border-radius: 15px;
            border: 3px solid #ccc;
            background: #FFF;
        }
        .course-name{
            color: #000;
            font-family: Cairo;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
        }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen
	and (max-device-width: 640px) {
        .card-square-sm{
            height: auto;
            border-radius: 15px;
            border: 3px solid #ccc;
            background: #FFF;
        }
        .course-name{
            color: #000;
            font-family: Cairo;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
        }
}

/* For   Landscape View */
@media screen and (min-device-width: 320px) 
	and (-webkit-min-device-pixel-ratio: 2) {
        .card-square-sm{
            height: auto;
            border-radius: 15px;
            border: 3px solid #ccc;
            background: #FFF;
        }
        .course-name{
            color: #000;
            font-family: Cairo;
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
        }
        .course-rating{
            display: unset;
        }
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) 
	and (device-width: 320px) 
	and (-webkit-min-device-pixel-ratio: 2) {
        .card-square-sm{
            height: auto;
            border-radius: 15px;
            border: 3px solid #ccc;
            background: #FFF;
        }
        .course-name{
            color: #000;
            font-family: Cairo;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
        }
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) 
	and (min-device-width: 375px) 
	and (-webkit-min-device-pixel-ratio: 3) {
        .card-square-sm{
            height: auto;
            border-radius: 15px;
            border: 3px solid #ccc;
            background: #FFF;
        }
        .course-name{
            color: #000;
            font-family: Cairo;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
        }
};
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .card-square-sm{
        height: auto;
        border-radius: 15px;
        border: 3px solid #ccc;
        background: #FFF;
    }
    .course-name{
        color: #000;
        font-family: Cairo;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
    }
    
}
/* Iphone 12 */
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .course-inf-square{
        display: unset;
    }
    .course-rating{
        display: unset;
    }
    .start-rectangle{
        width: auto;
    }
    .resume-rectangle{
        width: auto;
    }
    .retake-rectangle{
        width: auto;
    }
    .retake{
        width: auto;
        height: 105%;
        flex-shrink: 0;
        background: #60B527;
        color: #FFF;
        text-align: center;
        font-family: Cairo;
        font-size: 1.246rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-bottom-right-radius: 13px;
    }
    .resume{
        width: auto;
        height: 105%;
        flex-shrink: 0;
        background: #E1CD17;
        color: #FFF;
        text-align: center;
        font-family: Cairo;
        font-size: 1.246rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-bottom-right-radius: 13px;
    }
    .Start{
        width: auto;
        height: 105%;
        flex-shrink: 0;
        background: #178CE1;
        color: #FFF;
        text-align: center;
        font-family: Cairo;
        font-size: 1.246rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-bottom-right-radius: 13px;
    }
}
/* IPhone 11 */
@media only screen and (min-width: 414px)
{ 
   
    .start-rectangle,.resume-rectangle,.retake-rectangle{
        width: 100px;
    }
}
}