.AssessmentsCards{
    padding-left: 20px;
   .card{
    border-radius: 15px;
    border: 3px solid #CCC;
    background: #F8FAFD;
     
   }
   .courseTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: Cairo;
    font-size: 1.575rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
   }
   .date{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: rgba(0, 0, 0, 0.60);
    font-family: Cairo;
    font-size: 0.688rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
   }
   .badge{
    width: 54px;
    height: 38px;
    flex-shrink: 0;
    background-color: #D4E5FF;
    border-style: none;
   }
   .status-txt{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Cairo;
    font-size: 19.935px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   }
}