.footer{
     
       position: absolute;
       z-index: 999999999;
       border-top: 1px solid #EAEAEB;
       background: #F8FAFD;
       width: 100%;     
       padding: 8px 31px 8px 14px;
       justify-content: flex-end;
       align-items: center;

      .title{
        color: #636262;
        text-align: right;
        
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: normal; 
      }
}