.card-section{
border-radius: 12.197px;
border: 1px solid #EAEAEB;
background: rgba(234, 234, 235, 0.20);
}
.f-th-title ,.s-th-title,.t-th-title{
    display: flex;
    font-size: 1.165rem;
    text-wrap: nowrap;
}
.table-head-completed-max{
position: relative; 
}
.table-head-completed-max::after {
content: "";
position: absolute;
left: 0;
right: -15px;
bottom: 0;
border-bottom: 1px solid #000;
}
.first-column{
display: flex;    
margin-left: 30px;
}
.secondColumn{
display: flex;
justify-content: space-around;
}
.table-head-second {
position: relative;
}
  
.table-head-second::after {
content: "";
position: absolute;
left: 0;
right: 100px;
bottom: 0;
border-bottom: 1px solid #000;
}
.thirdColumn{
display: flex;
justify-content: space-around; 
}
.table-head-third {
position: relative;
}
  
.table-head-third::after {
content: "";
position: absolute;
left: 0;
right: 75px;
bottom: 0;
border-bottom: 1px solid #000;
}
.checkbox-xs{
height: .75rem;
width: .75rem;
}
.checkbox.checkbox-xs:after{
height: 8px;
left: 2.5px;
top: .5px;
width: 5px;
}
.second-td{
    display: flex;
    width: 75%;
    justify-content: space-between;
}
.thrid-td{
    display: flex;
    width: 75%;
    justify-content: space-between;
}
.read-more{
    color: #3186EA;
    font-family: Cairo;
    font-size: 14.1px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}