.CoursesDetails{
    background-color: #FCFCFC;
    border: 1px solid #eee;
    overflow-y: hidden;

    .course-informations{
        display: grid;
        padding-left: 15px;        
    }
    .course-hours{
        color: #000;
        font-family: Cairo;
        font-size: 12.941px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .course-name{
        color: #000;
        font-family: Cairo;
        font-size: 47.879px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .created-date{
        color: rgba(0, 0, 0, 0.60);
        font-family: Cairo;
        font-size: 19px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
    }
    .department{
        display: flex;
        width: 42px;
        height: 21px;
        padding: 6px 0px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 8.824px;
        background: #3186EA;
        color: #FFF;
        text-align: center;
        font-family: Cairo;
        font-size: 12.941px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .course-lang{
        color: #000;
        font-family: Cairo;
        font-size: 12.941px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
    }
    .percentage{
        color: #000;
        text-align: right;
        font-family: Cairo;
        font-size: 19.935px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .badge{
        width: 24px;
        height: 31px;
        flex-shrink: 0;
        background: url('../Courses-Cards/Assets/images/quality\ 1.png'), white 50% / cover no-repeat;    
    }
    .course-cover{
         width: 94%;
    }
    .cover{
        width: 100%;
        position: relative;
         height: 170px;
        right: 10%;
        width: 100%;
        -ms-transform: skew(15deg,0deg); /* IE 9 */
        -webkit-transform: skew(15deg,0deg); /* Safari */
        transform: skew(15deg,0deg); /* Standard syntax */
    }
    .option{
        color: rgba(0, 0, 0, 0.60);
        font-family: Cairo;
        font-size: 12px;
        font-style: normal;
        font-weight: bold;
        line-height: 30px; /* 300% */
    }
    .accordion-title{
        color: #000;
        font-family: Cairo;
        font-size: 19.935px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .accordion-group.accordion-group-bordered .accordion-title{
        padding-left: 0px;
        background: #EAEAEB;

    }
    .session-header{
        background: #EAEAEB;
        
    }
    .session-content{
        color: #000;
        text-align: justify;
        font-family: Cairo;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .video-title{
        color: #000;
        text-align: justify;
        font-family: Cairo;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .video-duration{
        color: #000;
        text-align: justify;
        font-family: Cairo;
        font-size: 0.688rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .letsStart{
        display: flex;
        width: 120px;
        height: 32px;
        padding: 9px 15px 9px 16px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 10px;
        background: #FF0059;
        color: #FFF;
        text-align: center;
        font-family: Cairo;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;
    }
    .course-session-content{        
        padding: 10px;
        border-radius: 20px;
        background: #dce1e8;
    }
    .about-course{
        display: inline-flex;
        padding: 17px 48px 36px 49px;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        border-radius: 12.197px;
        border: 1px solid #EAEAEB;
        background: #FCFCFC;
    }
    .about-title{
        color: #000;
        font-family: Cairo;
        font-size: 1.246rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .about-content{
        color: #000;
        text-align: justify;
        font-family: Cairo;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .two-images-inner {
        background-image: url('../Courses-Cards/Assets/images/Rectangle\ 531.png');
        background-size: cover;
        background-position: center;
        
        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }
    }
    .two-images {
        // // min-height: 360px;
        // position: relative;
        // // right: -68%;
        // top: 0;
        // width: 100%;
        // -ms-transform: skew(-15deg,0deg); /* IE 9 */
        // -webkit-transform: skew(-15deg,0deg); /* Safari */
        // transform: skew(-15deg,0deg); /* Standard syntax */
        position: relative;
        top: 0;
        width: 116%;
        transform: skew(-29deg, 0deg);
    
        .two-images-outer {
            // min-height: 100%;
            // overflow: hidden;
            // position: relative;
            // width: 104%;
            min-height: 100%;
            overflow: hidden;
            position: relative;
            width: 97%;
        }
        .two-images-inner {
            position: absolute;
            height: 100%;
            right: 11%;
            width: 100%;
            transform: skew(29deg, 0deg);
          }
        
        .two-images-outer:nth-of-type(2) {
          margin-top: 10px;
        }
        .content{
            color: #000;
            text-align: justify;
            font-family: Cairo;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
      }
}