.continue-container{
    display: flex;
    width: 272px;
    height: 31px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 15px;
    background-color: #3186EA;
    color: #FFF;
    text-align: center;
    font-family: Cairo;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}