@font-face {
font-family: 'Inter';  
src: url('../Assets/Fonts/Inter.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Cairo';  
src: url('../Assets/Fonts/Cairo-Regular-3.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
 
.card-container{
display: flex;
width: 350px;
height: 110px;
padding: 15px 27px 14.32px 22px;
align-items: center;
gap: 27px;
flex-shrink: 0;
border-radius: 15px;
border: 1px solid #EAEAEB;
background: rgba(234, 234, 235, 0.20);
}    
.progress-container{
margin-left: -23px;
width: 80.924px;
height: 80.633px;
flex-shrink: 0;
}
.circle-number{
display: flex;
color: #000;
font-size: 18.639px;
font-style: normal;
font-family: Inter;
font-weight: 700;
text-align: center;
justify-content: center;
line-height: normal;
opacity: 0.6;
}
.card-content{
display: flex;
width: 196px;
height: 46px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
}
.card-content span:first-child {
color: #000;
font-family: Cairo;
font-size: 18.639px;
font-style: normal;
font-weight: 700;
line-height: 0px;  
}
.card-content span:nth-child(3) {
color: #000;
font-family: Cairo;
font-size: 18.639px;
font-style: normal;
font-weight: 400;
line-height: 15px;
}
.card-content span:nth-child(5) {
color: #000;
font-family: Cairo;
font-size: 18.639px;
font-style: normal;
font-weight: 400;
line-height: 0px;
}
 
.circle-section{
width: 80.924px;
height: 80.633px;
flex-shrink: 0; 
}
.second-circle{
width: 80.92px;
height: 80.637px;
 
flex-shrink: 0;   
fill: linear-gradient(180deg, #FF0059 0%, rgba(255, 0, 89, 0.00) 100%), conic-gradient(from 181deg at 50.6% 40.96%, #544E50 0deg, #000000 360deg);
}
 
 
 